@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

:root {
    --bar-color: #345981;
    --fill-size: 0%;
}

html {
    background: url(https://giffiles.alphacoders.com/215/215911.gif) no-repeat center center fixed;
    background-color: #0d1117;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}

.container .card{
    position: relative;
    width: 500px;
    height: 250px;
    margin: 0 auto ;
    box-shadow: 20px 20px 50px rgba(0,0,0,5);
    border-radius: 15;
    background: rgba(28,36,49,0.8);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(28,36,49,0.5);
    border-left: 1px solid rgba(28,36,49,0.5);
    backdrop-filter: blur(rpx);
}

.container .card .content{
    padding: 20px;
    text-align: center;
    transition: 0.5s;
}

.container .card .content h2{
    position: absolute;
    top: -30px;
    right: 30px;
    font-size: 8em;
    color: rgba(255,255,255,0.05);
    pointer-events: none;
}

.container .card .content h3{
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}


h1{
    text-align: center;
    color: #FFFFFF;
    font-family: 'Silkscreen', cursive;
}
h3{
    text-align: center;
    color: #FFFFFF;
    font-family: 'Silkscreen', cursive;
}



.container .card .content .progress-bar {
    position: relative;
    width:  200px;
    height: 20px;
    background-color: #101118;
    border-radius: 2em;
    overflow: hidden;
    margin: 0 auto;
}

.container .card .content .progress-bar::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--bar-color);
    transform: translateX(-130%);
}

@keyframes fill-bar {
    to {
        transform: translateX(var(--fill-size));
    }
    
}